@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

#root {
  /* Variables */
  --fullWidth: min(1200px, 90re);
  --WhiteColor: 233, 227, 223;
  --BlackColor: 0, 0, 0;
  --OrangeColor: 255, 122, 48;
  --BlueColor: 70, 92, 136;
  
  /* Aspect Ratio */
  aspect-ratio: 16 / 10;
  width: var(--fullWidth);
  height: auto;

  /* Settings*/
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;

  /* Layout */
  margin: 0;
  padding: 2rem;
  overflow: hidden;
  
  background-color: rgba(var(--WhiteColor), 1) ;
}

/* Navigation Bar */
.class_NavBar {
  display: flex;

  background-color: rgba(var(--WhiteColor), 0) ;
}

.class_NavBar button {
  background-color: rgba(var(--WhiteColor), 0) ;
  color: rgba(var(--BlackColor), 1) ;
  font-size: 20px;
}

/* Home Page */
.class_GameDesc p {
  background-color: rgba(var(--WhiteColor), 0) ;
  color: rgba(var(--BlackColor), 1) ;
  font-size: 20px;
  text-align: justify;

  /* Layout */
  max-height: 31%;
  max-width: 57%;
  margin-left: 10%;
  margin-top: 10%;
}

.class_PlayNow {
  background-color: rgba(var(--OrangeColor), 1) ;
  color: rgba(var(--WhiteColor), 1) ;
  font-size: 20px;

  padding: 0;

  /* animation */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp_anim 0.5s forwards;
  animation-delay: 3s;
}

/* Individual Char Animation*/
.wordAnimation {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp_anim 0.5s forwards;
}

@keyframes fadeUp_anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Rbx LOGO*/
.class_RobloxLogo {
  /* Layout */
  transform: translateX(45%) translateY(-65%) rotate(21deg);
}
.class_RobloxLogo img{
  filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));

}

.rbx_logo_upper {
  opacity: 0;
  transform: translateY(-200px);
  animation: MoveTo_Anim 5s forwards;
}

.rbx_logo_lower {
  opacity: 0;
  transform: translateY(200px);
  animation: MoveTo_Anim 5s forwards;
}

@keyframes MoveTo_Anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}